{% extends "layout.html" %}

{% block body %}

<h3>Hakkımızda</h3>
<hr>
<p>
Merhaba! Ben Ayşenur. Teknoloji ve yazılım dünyasına meraklı, sürekli öğrenmeyi seven biriyim. Python programlama dili ve web geliştirme alanında kendimi geliştirmekteyim. Yeni projeler üreterek deneyim kazanmayı ve öğrendiklerimi paylaşmayı seviyorum. Boş zamanlarımda kitap okumak, film izlemek ve seyahat etmek en büyük tutkularım arasında. Kendi yolculuğumu paylaşırken, aynı zamanda başkalarına ilham vermeyi hedefliyorum.

</p>

{% endblock body %}